<div class="row">
    <div class="col-md-12" style="padding: 15px 30px;">
        <h1 class="app-title">Billing Management System</h1>
    </div>
</div>
<div class="row menu-bar">
    <div class="col-md-12">
        <nav>
            <a routerLink="/home" routerLinkActive="active">Home</a>
            <a routerLink="/dashboard" routerLinkActive="active">Dashboard</a>
            <a routerLink="/items" routerLinkActive="active">Items</a>
            <!--<a href="javascript:void(0)" (click)="openModal()">Open Modal</a>-->
        </nav>
    </div>
</div>
<div class="col-md-12 contents">
    <router-outlet></router-outlet>
</div>
